<!-- Content for overlay -->
<form id="user_edit_form">
{% csrf_token %}
<input type="hidden" name="id" value="{{user.id}}" />
<table class="user-edit-form">
    <tbody>
        <tr>
            <td>
                <div class="user-label">{{user_form.username.label}}</div>
                {{user_form.username|default:''}}<br/>
                {% for error in user_form.username.errors %}
                <div class='error'>{{error}}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <div class="user-label">{{user_form.password.label}}</div>
                {{user_form.password|default:''}}<br />
                {{user_form.password_match|default:''}}
                {% for error in user_form.password.errors %}
                <div class='error'>{{error}}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <div class="user-label">{{user_form.email.label}}</div>
                {{user_form.email|default:''}}
                {% for error in user_form.email.errors %}
                <div class='error'>{{error}}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <div class="user-label">Name({{user_form.first_name.label}}+{{user_form.last_name.label}})</div>
                {{user_form.first_name|default:''}}<br/> 
                {% for error in user_form.first_name.errors %}
                <div class='error'>{{error}}</div>
                {% endfor %}
                
                {{user_form.last_name|default:''}}<br/>
                {% for error in user_form.last_name.errors %}
                <div class='error'>{{error}}</div>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
</form>
<button onclick="user_edit_save({{user.id}})">SAVE</button> | <button onclick="user_edit_cancel()">CANCEL</button>
