<!-- Content for overlay -->
<form id="user_edit_form">
{% csrf_token %}
<input type="hidden" name="id" value="{{user.id}}" />
{% for control in user_form %}
    <div class="user-edit-label">{{ control.label }}</div>
    {{ control }}
    {% for error in control.errors %}
        <div class='error'>{{ error }}</div>
    {% endfor %}
{% endfor %}
</form><div style="text-align:center">
<button onclick="user_edit_save({{user.id}})">SAVE</button> | <button onclick="user_edit_cancel()">CANCEL</button>
{% for error in user_form.non_field_errors %}
<br /><div class='error'>{{ error }}</div>
{% endfor %}
</div>